/* Color Palette
#373F51 - dark blue
#A9BCD0 - blue
#D8DBE2 - light blue
#58A4B0 - teal
#FFCAAF - pinkish
*/

/*Global styles
-------------------------*/

/* apply a natural box layout model to all elements, but allowing components to change */

@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Crimson+Text&display=swap');


*, *:before, *:after {
  box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 16px;
}

h1, h2 {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
}

/* h1 {
    font-size: 5em;
} */


h2 {
    font-size: 2.5em;
    margin-top: 0;
}

h3 {
    margin: 0;
}

a {
    Color:#E2B4BD;
}

a:hover {
    text-decoration:none;
}

.content-wrap{
    max-width:1400px;
    margin: 0 auto;
    padding: 3.5% 2%;
    overflow: auto;
}

.col-narrow {
    width: 30%;
    float: left;
}
.col-wide {
    width:70%;
    float: left;
    padding-left: 2%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.uppercase {
    text-transform: uppercase;
}

.btn {
    text-decoration: none;
    background-color: #E2B4BD;
    color: white;
    padding: 1%;
    display: inline-block;
}

#logo {
  float: none;
  /* margin-top: .5em; */
  margin-bottom: 2em;
}



/* Header and footer
-----------------------------*/
header {
    padding-top: 3.12%;
    padding-bottom: 3.12%;
    /* position: relative; */
}

/* header h1, header h2 {
    color:#FFFFFF;
    margin: 0;
} */

.download {
    position: absolute;
    bottom: 0;
    right: 0;
}

/*footer*/
footer {
    text-align: center;
    background:#373F51;
    color:#FFFFFF;
}

.contact-info a {
    padding: 2%;
}

/* Navigation
-----------------------------*/
nav {
    text-align: center;
    padding: .5em;
    width: 100%;
}

nav a {
  font-size: 1.25em;
  margin: 1em;
  color: #373F51;
  text-decoration: none;
  font-family: 'Archivo Black', sans-serif;
}


/* Work Experience
-----------------------------*/
.work{
    background:#A9BCD0;
}

h3 ~ p {
    margin: 0;
}

.job-description {
    margin-bottom: 1.5em;
}

.job-description p:first-of-type {
    margin-top: 0;
}


/* Education
-----------------------------*/
.education{

p + h3 {
    margin-top: 30px;
}

@media screen and (max-width: 644px) {
  h2{
    font-size: 2em;
  }
}

@media screen and (max-width: 534px) {
  h2{
    font-size: 1.5em;
  }
  .col-narrow {
      width: 20%;
      float: none;
  }
  .col-wide {
      width:80%;
      float: none;
      padding-left: 1%;
  }
  #logo {
    width: 18%;
  }
}

@media screen and (max-width: 498px) {
  h2{
    font-size: 1em;
  }
  .col-narrow {
      width: 10%;
      float: none;
  }
  .col-wide {
      width:90%;
      float: none;
      padding-left: 1%;
  }
}

@media screen and (max-width: 335px) {
  }
  nav a{
    font-size: 1em;
  }
}
