/* Color Palette
#424B54 - dark green
#93A8AC - light green
#FFFFFF - light cream
#E2B4BD - light red
#9B6A6C - red

#373F51 - dark blue
#A9BCD0 - blue
#D8DBE2 - light blue
#58A4B0 - teal
#FFCAAF - pinkish
*/

/*Global styles
-------------------------*/

/* apply a natural box layout model to all elements, but allowing components to change */

@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Crimson+Text&display=swap');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 16px;
}

h1, h2 {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 5em;
}


h2 {
    font-size: 2.5em;
    margin-top: 0;
}
h3 {
    margin: 0;
}

a {
    Color:#E2B4BD;
}

a:hover {
    text-decoration:none;
}

.content-wrap{
    max-width:1200px;
    margin: 0 auto;
    padding: 3.5% 2%;
    overflow: auto;
    border: 1px solid black;
}
.col-narrow {
    width: 30%;
    float: left;
}
.col-wide {
    width:70%;
    float: left;
    padding-left: 2%;
}

.profile-img {
  /* width: 15%; */
}

.uppercase {
    text-transform: uppercase;
}

.btn {
    text-decoration: none;
    background-color: #E2B4BD;
    color: white;
    padding: 1%;
    display: inline-block;
}


/* Header and footer
-----------------------------*/
header, footer {
    background:#424B54;
    color:#FFFFFF;
}

/*header*/
/* .profile-img {
    border-radius: 50%;
} */

header {
    padding-top: 3.12%;
    position: relative;
}

header h1, header h2 {
    color:#FFFFFF;
    margin: 0;
}

.download {
    position: absolute;
    bottom: 0;
    right: 0;
}

/*footer*/
footer {
    text-align: center;
}

.contact-info a {
    padding: 2%;
}

/* Navigation
-----------------------------*/
nav {
    text-align: center;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    display: inline-block;
    padding: 1em 1.5em;
    text-decoration: none;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 700;
}


/* Work Experience
-----------------------------*/
.work{
    background:#A9BCD0;
}

h3 ~ p {
    margin: 0;
}

.job-description {
    margin-bottom: 1.5em;
}

.job-description p:first-of-type {
    margin-top: 0;
}


/* Education
-----------------------------*/
.education{
    /*background:#9B6A6C;*/
    /* background: linear-gradient (rgba(155, 106, 108, 0.8), rgba(155, 106, 108, 0.5)),
                url(../images/raleigh.jpg) no-repeat fixed;
    background-size: cover;
} */

p + h3 {
    margin-top: 30px;
}

@media screen and (max-width: 925px) {
  .content-wrap{
      padding: 5% 2%;
  }
}

@media screen and (max-width: 808px) {
  .content-wrap{
      padding: 8% 4%;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2em;
  }
}

@media screen and (max-width: 773px) {
  .content-wrap{
      padding: 8% 4%;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1.5em;
  }
  .profile-img {
    width: 20%;
    margin-top: 4em;
  }
}
