/* Color Palette
#424B54 - dark green
#93A8AC - light green
#FFFFFF - light cream
#E2B4BD - light red
#9B6A6C - red
*/

@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Crimson+Text&display=swap');

html {
  box-sizing: border-box;
}

/* header, footer {
    background-color:#424B54;
    color:#FFFFFF;
} */

header {
  padding-top: 50px;
  margin: 0;
  position: relative;
  width:100%;
}

header h1, header h2 {
    color:#FFFFFF;
    margin: 0;
}

h1 {
  color: #93A8AC;
  font-size: 80px;
  font-family: 'Archivo Black', sans-serif;
  text-align: right;
}

nav {
  /* padding: 0; */
  margin: 0;
  text-align: center;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  font-size: 1em;
  padding: 15px 20px;
  /* margin: 10px; */
  color: #2C4251;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  width: 10%;
}

nav a:hover {
  color: #E2B4BD;
}

nav a:active {
  color: #E2B4BD;
  text-decoration: underline;
}

img {
  float: left;
  /* margin: 10px; */
  max-width: 100%;
  padding: 10px;
}

img:hover {
  transform: scale(1.1);
  transition: 1s;
  filter:grayscale(100%);
}

#logo:hover {
  transform: none;
  filter: none;
}

.photography {
  /* float: right; */
  text-align: center;
  font-size: 100px;
  color: #FCF7FF;
  font-family: 'Archivo Black', sans-serif;
  float: left;
}

#design {
  text-align: center;
  font-size: 160px;
  font-family: 'Archivo Black', sans-serif;
  /* color: #9B6A6C; */
  /* float: left; */
}

#centered-1 {
  position: absolute;
  top: 80%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.wrapper {
  background-color:#373f51;
  color:#FFFFFF;
  padding: 20px;
  margin: 0 auto;
  overflow: auto;
}

.main {
  background-color: #d8dbe2;
  margin: 0;
  padding: 20px;
  float: right;
  width: 100%;
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-cap: 1em; */
  align-items: center;
}

.col-narrow {
    width: 30%;
    float: left;
}

.col-wide {
    width:70%;
    float: left;
    padding-left: 20px;
}

.clearfix:after {
  visibility: hidden;
  height: 0;
  font-size: 0;
  content: " ";
  display: block;
  clear: both;
}

footer {
  color: white;
  padding: 20px;
  background-color: #373f51;
  text-align: center;
}
