/* Color Palette
#373F51 - dark blue
#A9BCD0 - blue
#D8DBE2 - light blue
#58A4B0 - teal
#FFCAAF - pinkish
*/

@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Crimson+Text&display=swap');


*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Crimson Text', serif;
  margin: 0px;
  padding: 0px;
}

header {
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 3.12%
}

nav {
  text-align: center;
  padding: .5em;
  width: 100%;
}

nav a {
  font-size: 1.25em;
  margin: 1em;
  color: #373F51;
  text-decoration: none;
  font-family: 'Archivo Black', sans-serif;
}

nav a:hover {
  color: #A9BCD0;
}

nav a:active {
  color: #FFCAAF;
  text-decoration: underline;
}

#logo {
  float: none;
  margin-bottom: 2em;
}

#logo:hover {
  transform: none;
  filter: none;
}

.cur-active-link {
  color: #A9BCD0;
  text-decoration: underline;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  background-color: #D8DBE2;
}

.main {
  padding: 1em;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.photography img {
  float: left;
  width: 30.33%;
  margin: 1.5%;
  border-radius: 1em;
}

.photography {
  color: #373F51;
  font-family: 'Archivo Black', sans-serif;
}

.hover:hover {
  transform: scale(1.1);
  transition: 1s;
  filter:grayscale(100%);
}

.design img {
  float: left;
  width: 30.33%;
  margin: 1.5%;
  border-radius: 1em;
}

.design-2 img {
  float: left;
  width: 48%;
  margin: .75%;
  border-radius: 1em;
}

.design-3 img {
  float: left;
  width: 50%;
  margin-left: 23.75%;
  margin-top: 1%;
  border-radius: 1em;
}

.design {
  color: #373F51;
  font-family: 'Archivo Black', sans-serif;
}

.clearfix:after {
  visibility: hidden;
  height: 0;
  font-size: 0;
  content: " ";
  display: block;
  clear: both;
}

footer {
  color: white;
  padding: 1em;
  text-align: center;
  font-family: 'Crimson Text', serif;
  background-color: #373F51;
  margin: 0 auto;
}

/* Resume */

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 16px;
}

h1, h2 {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 2.5em;
    margin-top: 0;
}

h3 {
    margin: 0;
}

a {
    Color:#E2B4BD;
}

.content-wrap{
    max-width:1400px;
    margin: 0 auto;
    padding: 3.5% 2%;
    overflow: auto;
}

.col-narrow {
    width: 30%;
    float: left;
}
.col-wide {
    width:70%;
    float: left;
    padding-left: 2%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.uppercase {
    text-transform: uppercase;
}

.btn {
    text-decoration: none;
    background-color: #E2B4BD;
    color: white;
    padding: 1%;
    display: inline-block;
}

#logo {
  float: none;
  margin-bottom: 2em;
}


/* Header and footer
-----------------------------*/
header {
    padding-top: 3.12%;
    padding-bottom: 3.12%;
}

.download {
    position: absolute;
    bottom: auto;
    right: 0;
}

/*footer*/
footer {
    text-align: center;
    background:#373F51;
    color:#FFFFFF;
}

.contact-info a {
    padding: 2%;
}


/* Work Experience
-----------------------------*/
.work{
    background:#A9BCD0;
}

h3 ~ p {
    margin: 0;
}

.job-description {
    margin-bottom: 1.5em;
}

.job-description p:first-of-type {
    margin-top: 0;
}


/* Education
-----------------------------*/
.education {
p + h3 {
    margin-top: 30px;
  }
}


@media screen and (max-width: 1377px){
  .photography img {
    width: 45%;
  }
  .design img {
    width: 45%;
  }
}

@media screen and (max-width: 1128px) {
  .design-2 img {
    width: 70%;
  }
}

@media screen and (max-width: 859px){
  .photography img {
    width: 90%;
    margin: 1em;
  }
  .design img {
    width: 90%;
    margin: 1em;
  }
  nav a {
    font-size: 1em;
  }
  #logo {
    width: 25%;
  }
}

@media screen and (max-width: 664px) {
  .design-2 img {
    width: 100%;
    margin: .25em;
  }
  nav a {
    font-size: 1em;
  }
}

@media screen and (max-width: 535px) {
  h2{
    font-size: 2.25em;
  }

  .col-narrow {
      width: 100%;
      float:none;
  }
  .col-wide {
      width:100%;
      float:none;
      padding-left: 1%;
  }

  #logo {
    width: 25%;
  }

  .download {
      position: absolute;
      bottom: 65%;
  }
}

@media screen and (max-width: 470px) {
  .download {
      bottom: 68%;
  }
}

@media screen and (max-width: 436px) {
  .download {
      bottom: 95%;
  }
}

@media screen and (max-width: 357px){
  .photography img {
    width: 100%;
    margin: .5em;
  }

  .design img {
    width: 100%;
    margin: .5em;
  }

  nav a {
    font-size: 1em;
  }

  .download {
      bottom: 95%;
  }
}
