/* Color Palette
#424B54 - dark green
#93A8AC - light green
#FFFFFF - light cream
#E2B4BD - light red
#9B6A6C - red

#373F51 - dark blue
#A9BCD0 - blue
#D8DBE2 - light blue
#58A4B0 - teal
#FFCAAF - pinkish

*/

@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Crimson+Text&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: 'Crimson Text', serif;
  margin: 0px;
  padding: 0px;
}

header {
  background-color: #FFFFFF;
  margin: 0 auto;
}

/* h1 {
  color: #A9BCD0;
  font-size: 4em;
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
  margin-top: 0;
} */

p {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  float: left;
  margin: .5em;
  max-width: 100%;
  border-radius: 1em;
}

img:hover {
  transform: scale(1.1);
  transition: 1s;
  filter:grayscale(100%);
}

nav {
  /* background-color: #FFCAAF; */
  text-align: center;
  padding: .5em;
  width: 100%;
}

nav a {
  font-size: 1.25em;
  margin: 1em;
  color: #373F51;
  text-decoration: none;
  font-family: 'Archivo Black', sans-serif;
}

nav a:hover {
  color: #A9BCD0;
}

nav a:active {
  color: #FFCAAF;
  text-decoration: underline;
}

#centered-1 {
  position: absolute;
  top: 80%;
  left: 60%;
  transform: translate(-50%, -50%);
}

#logo {
  float: none;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: none;
}

#logo:hover {
  transform: none;
  filter: none;
}

#noscale {
  transform: scale(1.0);
  filter:none;
}

.cur-active-link {
  color: #A9BCD0;
  text-decoration: underline;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

.wrapper {
  background-color: #D8DBE2;
  margin: 0 auto;
}

.main {
  padding: 2em;
  width: 100%;
  position: relative;
  /* left: 50%; */
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-cap: 1em; */
}

.photography {
  color: #373F51;
  font-family: 'Archivo Black', sans-serif;
  /* float: left; */
  vertical-align: middle;
}

.clearfix:after {
  visibility: hidden;
  height: 0;
  font-size: 0;
  content: " ";
  display: block;
  clear: both;
}

footer {
  color: white;
  padding: 20px;
  text-align: center;
  font-family: 'Crimson Text', serif;
  background-color: #373F51;
  margin: 0 auto;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img.demo {
  opacity: 0.6;
}

.active {
  opacity: 1;
}
