/* Color Palette
#424B54 - dark green
#93A8AC - light green
#FFFFFF - light cream
#E2B4BD - light red
#9B6A6C - red

#373F51 - dark blue
#A9BCD0 - blue
#D8DBE2 - light blue
#58A4B0 - teal
#FFCAAF - pinkish

*/

@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Crimson+Text&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: 'Crimson Text', serif;
  margin: 0px;
  padding: 0px;
}

header {
  background-color: #FFFFFF;
  margin: 0 auto;
}

h1 {
  color: #A9BCD0;
  font-size: 4em;
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
  margin-top: 0;
}

p {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  float: left;
  margin: .5em;
  max-width: 100%;
  border-radius: 1em;
}

img:hover {
  transform: scale(1.1);
  transition: 1s;
  filter:grayscale(100%);
}

nav {
  background-color: #FFCAAF;
  text-align: center;
  padding: 1em;
  position: fixed;
  width: 100%;
}

nav a {
  font-size: 1.25em;
  margin: 1em;
  color: #373F51;
  text-decoration: none;
  font-family: 'Archivo Black', sans-serif;
}

nav a:hover {
  color: #A9BCD0;
}

nav a:active {
  color: #FFCAAF;
  text-decoration: underline;
}

/* #design {
  text-align: center;
  font-family: 'Archivo Black', sans-serif; */
  /* color: #9B6A6C; */
  /* float: left; */
}

#centered-1 {
  position: absolute;
  top: 80%;
  left: 60%;
  transform: translate(-50%, -50%);
}

#logo {
  float: none;
  margin-top: 0;
  margin-bottom: 0;
}

#logo:hover {
  transform: none;
  filter: none;
}

#noscale {
  transform: scale(1.0);
  filter:none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

.wrapper {
  background-color: #D8DBE2;
  margin: 0 auto;
}

.main {
  padding: 2em;
  width: 90%;
  position: relative;
  /* vertical-align: middle; */
  /* left: 50%; */
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-cap: 1em; */
}

.photography {
  color: #373F51;
  font-family: 'Archivo Black', sans-serif;
  float: left;
}

.clearfix:after {
  visibility: hidden;
  height: 0;
  font-size: 0;
  content: " ";
  display: block;
  clear: both;
}

footer {
  color: white;
  padding: 20px;
  text-align: center;
  font-family: 'Crimson Text', serif;
  background-color: #373F51;
  margin: 0 auto;
}
